


Body {
    margin: 0 ;
    padding: 0;
}
header{
    height: 30px;
    background-color:#333;
    position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  text-align: center;
  
}
h2 {
    padding-top: 24px;
    margin:0;
    font-size: 32px;
}
header p {
    display: inline-block;
    color: white;
    width: 19%;
    margin: auto;
    border-collapse: collapse;
    margin: 0;
    box-sizing: border-box;
}


.main80, .projetos {
    width: 80%;
    margin: auto;
    display: flex;
    height: 400px;
    background-color:blanchedalmond;
    
}
.text {
    width: 80%;
    text-align: center;
    margin: auto;
    /* color: blanchedalmond; */
}
.text p {
    width: 80%;
    margin:auto;
}
.img{
    width: 20%;
    background-image: url("img/anderson.jpg");
    background-size: cover;
background-position: center;}
.ensino {
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 235, 205, 0.644);
    margin-top: 24px;
}
.projetos {
    /* background-color:#e8e8e8; */
    display: block;
    height: initial;
    background-color: cadetblue;
    
}
.projetos a {
    text-align: center;
    text-decoration: none;
}
a:visited{
    color:blue
}
a:hover{
    filter: brightness(0.4);
    transition: 1s;
}
.projetos h2 {
    display: block;
    text-align: center;
}
.projetos> div{
    /* width: 80%; */
    /* height: 70px; */
    /* background-color:#e8e8e8; */
    border-bottom: 1px solid black;
    box-sizing: border-box;
   margin: auto;
   text-align: center;
   padding-top: 32px;

}
.projetos img {
height: 150px;
display: block;
text-align: center;
margin: auto;
}
/* .projetos */
.skills {
    display: block;
    background-color: #bbbfca;
    width: 80%;
    margin: auto;
}
.skills h2 {
    display: block;
    text-align: center;
}

.skills >div {
    display: inline-block;
    width: 49%;
    /* border: 1px solid black; */
    /* margin: auto; */
    text-align: center;
}


footer{
    display: block;
    /* height:400px ; */
    /* background-color:#495464; */
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: rgb(179, 174, 174);

}
footer p {
    padding-top: 24px;
    text-align: center;
}
.contato, .ensino p{
    margin: 0;
}
footer label{
    display: inline-block;
    width: 30%;
    text-align: center;
    padding-bottom: 12px;
}
footer  input{
    width: 60%;
}
button{
    width: 10%;
    margin: auto;
    margin-top: 24px;
    text-align: center;
    display: block;
}
footer form {
    padding: 40px 0;
}
footer img {
    width: 32px;
}
.redes-sociais {
    background-color: whitesmoke;
    /* color: white; */
}

h3:hover{
    color: crimson;
    transition: 1s;
}